// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// nav 
.user-name {
  color: #777;
}

@media (min-width: 768px) {
  .user-name {
    position: relative;
    display: block;
    padding: 15px;
    line-height: 20px;
  }
}